* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap ;
    font-family: cursive;
}

.card {
    border: 2px solid rgb(113, 113, 113);
    width: 300px;
    height: 400px;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    transition: 1s;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.card:hover {
    transform: scale(1.05);
}

.picture img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.title {
    text-align: center;
}